@import 'https://fonts.googleapis.com/css?family=Raleway:200,400,700';

* {
	font-family: 'Raleway', sans-serif;
	font-style: 14px;
	box-sizing: border-box;

}

body {
	background-color: #EBEBEB;
}

.logo {
	padding: 1% 0;
}

/* search */
header form {
	position: relative;
	margin: 0;
	padding: 0;
	display: block;
	input{
		height: 28px;
		width: 40%;
		padding-bottom: 1%;
	}
	input[type="search"] {
		width:170px;
	}
		&::after {
			content:'\f002';
	        font-family: 'FontAwesome';
	        position: absolute;
	        left: 138px;
	        top: 0px;
	        color: #50C5D9;
	        display: block;
	        height: 15px;
	        padding: 9px;
	        border-left: 1px solid gray;
	    }
}

.form {
	margin-top: 1%;
	float: right;
	width: 30%;
}

[type="submit"] {
	background-color: #50C5D9;
	border-radius: 7px;
	padding: 1% 11%;
	color: white;
}

.top {
	background-color: #EBEBEB;
	padding-top: 1%;
}

/* nav */
.nav {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
    list-style-type: none;
    font-size: 0.8rem;
    width: 75%;
    margin-top: 2%;
    li:not(:last-child) {
        border-right: 1px solid gray;
        margin-right: 1%;
        padding-right: 1%;
    }
}

.logo2 {
	font-weight: bold;
	font-size: 1.1rem;
	padding-right: 1%;
	font-family: Verdana;
}

.navBox:last-child {
    justify-content: space-around;
	display: flex;
	align-items: center;
}

.navBox {
	margin-top: 1%;
	background-color: white;
	height: 70px;
}

.banner {
	background: url('../img/triangle.jpg')
	            repeat-x,
	            url('../img/banner.jpg')
	            no-repeat;
	background-position: 0 30;
	background-color: #50C5D9;
	height: 400px;
}

.text {
	font-size: 0.9rem;
	color: white;
	margin-top: 9%;
	float: right;
	background-color: #50C5D9;
	padding: 2% 5% 2% 3%;
	border-radius: 10px 0 0 10px;
	width:35%;
	line-height: 0;
}

.text p:nth-child(2) {
        font-size: 1.5rem;
        text-transform: uppercase;
        padding-bottom: 15%;
}

.sprawdz {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 3% 15%;
	border-radius: 7px;
	margin-bottom: 10%;
	line-height: 1rem;
}


.mainWidth {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.sliderUi {
	width: 30px;
	height: 5%;
	background-color: grey;
	display: block;
}

.boxIcon {
	background-color: #55C5DB;
	color: white;
	font-weight: 100;
}

.linkIcon {
	margin: 0 auto;
	text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 3% 18%;
    color: white; 
    text-decoration: none;
}

.keys {
	float: left;
	padding: 4% 3% 4% 0;	
}

.boxInfo {
	background-color: white;
	font-size: 0.9rem;
	padding: 3% 0;
}

.linkDowiedz {
	color: #55C5DB;
	float: right;
	font-size: 1rem;
}

.boxKeys {
	padding: 0 4%;
}

/* form price*/
.price ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 80%;
    padding-top: 2%
}

.sliderUi {
	width: 83%;
	height: 14px;
	background-color: #e7e7e7;
	margin-left: 3%;
	position: relative;
}

.buttonSliderUi {
	width: 18%;
	height: 32px;
	background-color: #55C5DB;
	position: absolute;
	left: 0px;
	top: -10px;
	border-radius: 10px;
}

.time {
	left: 260px;
	top: -10px;	
}

.line {
	width: 83%;
	background-color: #55C5DB;
	height: 1px;
	margin-top: 7%;
	margin-left: 3%;
}

.rata {
	font-size: 1.1rem;
	margin-left: 3%;
	span {
		color: #55C5DB;
	}
	a {
		padding-right: 14%;
	}
}

.boxPrice {
	padding: 0 6%;
}

.boxIcon {
	padding: 6% 5%;
	text-align: center;
	h3 {
		font-size: 1.5rem;
		line-height: 0;
		font-weight: 500;
	}
	p {
		font-size: 0.9rem;
		padding-bottom: 5%;
	}
}

.boxLinkiAll {
	background-color: white;
	font-size: 0.9rem;
	padding: 2% 0;
}

.boxLinki {
    padding: 0 6%;
    li {
        line-height: 18pt;
        font-size: 0.9rem;
        list-style-type: none;
        position: relative;
        }
        li:before {
            color: #e7e7e7;
            content: "■";
            position: relative; 
            left: -7px;
            font-size: 15px;
            margin-left: -7px;
        }
}

/* column */
[class*='col-'] {
	float: left;
	min-height: 1px;
}

.row:before, .row:after {
	content:" ";
	display: table;
	clear: both;
}

/* footer */
.boxFooter {
    font-size: 0.8rem;
    color: gray;
}

.navFooter {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 0.9rem;
    color: gray;
    li:not(:first-child) {
        border-left: 1px solid gray;
        padding-left: 2%;
    }
}




