@import 'https://fonts.googleapis.com/css?family=Raleway:200,400,700';

* {
	font-family: 'Raleway', sans-serif;
	font-style: 14px;
	box-sizing: border-box;

}

body {
	background-color: #EBEBEB;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	padding: 2%;
}
// search
header form {
	position: relative;
	margin: 0;
	padding: 0;
	display: block;
	input{
		height: 30px;
	}
	input[type="search"] {
		width:150px;
	}
		&::after {
			content:'\f002';
	        font-family: 'FontAwesome';
	        position: absolute;
	        left: 118px;
	        top: -1px;
	        color: #50C5D9;
	        display: block;
	        height: 15px;
	        padding: 10px;
	        border-left: 1px solid gray;
	    }
}

.form {
	float: right;
	width: 29%;
}

[type="submit"] {
	background-color: #50C5D9;
	border-radius: 5px;
	padding: 1% 12%;
	color: white;
}

.top {
	background-color: #EBEBEB;
	padding-top: 1%;
}

.banner {
	background: url('../img/triangle.jpg')
	            repeat-x,
	            url('../img/banner.jpg')
	            no-repeat;
	background-position: 0 30;
	height: 300px;
}

header section.banner{
    display: block;
    max-height: 350px;
    overflow: hidden; 
    margin: 0 auto;
}


.mainWidth {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.box1 {
	background-color: white;
}

.box2 {
	background-color: #55C5DB;
}

.keys {
	float: left;
}

// nav
.nav {
	display: flex;
    list-style-type: none;
    li:not(:last-child) {
        border-right: 1px solid gray;
        margin-right: 1%;
        padding-right: 1%;
    }
}

// column
.row:before, .row:after {
	content:" ";
	display: table;
	clear: both;
}

.linkDowiedz {
	color: #55C5DB;
	text-decoration: none;
}

// footer
.navFooter {
	display: flex;
	list-style-type: none;

}




