@media(max-width:400px) {

    $n: 8.333%;
    @for $i from 1 through 12 {
        .col-sm-#{$i} { 
            width: ($i * $n);
        }  
    }

.nav {
    z-index: 100;
    width: 100%;
    span {
        display: none;
        cursor: pointer;

    }
    &.mobile {
        span {
            display: block;
        }
        li {
            display: none;
            &.show {
                display: block;
                width: 100%;
                text-align: center;
                padding: 10px;
                background-color: white;
                border-bottom: 1px solid gray;
            }
        }
    }
}

[class*='col-'] {
    min-height: 1px;
} 

* {
    font-style: 15px;
}

.boxPrice {
    padding-top: 5%;
}

.boxFooter {
	padding: 1%;
}

.navFooter {
    li:not(:first-child) {
        border-left: 1px solid gray;
        padding-left: 4%;
        padding-right: 6%;
    }
}
.navBox:last-child {
    justify-content: inherit;
}


}

